.row{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #fff;
  .link{
    color: #333;
    text-decoration: none;
  }
  .cell{
    padding: 15px 30px;
    margin: 0 10px;
  }
  .cell:hover{
    background-color: #eee;
  }
}