.nameplace_introduction {
  .introduction-container {
    height: 100vh;
    margin-top: -55px;
    .img_bg {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: -1;
      width: 100vw;
      // height: 100vh;
      filter: blur(4px);
    }
    .content {
      position: relative;
      background: #111;
      color: #fff;
      padding: 1em;
      box-sizing: border-box;
    }
    .skrollr-body{
      z-index: 10;
    }
    .h-50vh{
      height: 50vh;
    }
    .h-100vh{
      height: 100vh;
    }
    .h-200vh{
      height: 200vh;
    }
    .header {
      height: 0;
    }
    .head-text {
      // display: none;
      // left: 50%;
      // top: 40%;
      background-color: #ffffff55;
      padding: 30px;
    }
    .body-text{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: 250px;
      background-color: #ffffffaa;
      border-radius: 20px;
    }
    .flex-box{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .f-box{
      width: 100px;
      height: 60px;
      background-color: #fff;
      margin:0;
      z-index: 19;
    }
    .content-full {
      height: 100%;
    }

    #done {
      height: 100%;
    }
    .card-position {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .card-position {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
