.nameplace_introduction {
  background-color: #111;
  .h-0 {
    height: 0;
  }
  .h-50vh{
    height: 50vh;
  }
  .h-75vh{
    height: 75vh;
  }
  .h-100vh{
    height: 100vh;
  }
  .h-200vh{
    height: 200vh;
  }
  .introduction-container {
    height: 100vh;
    margin-top: -55px;
    .t-center{
      text-align: center;
    }
    .img_bg {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: -1;
      width: 100vw;
      // height: 100vh;
      filter: blur(4px);
    }
    .content {
      position: relative;
      background: #117;
      color: #fff;
      padding: 1em;
      box-sizing: border-box;
      background:transparent center no-repeat;
		  background-size:cover;
      .text-c{
        text-align: center;
        margin: auto;
      }
    }
    .skrollr-body{
      z-index: 10;
      .head-text {
        // display: none;
        // left: 50%;
        // top: 40%;
        color: #fff;
        // background-color: #ffffff55;
        padding: 30px;
        .h-img{
          width: 200px;
          border-radius: 6px;
          box-shadow: 0 0 10px #00000077;
          margin-bottom: 20px;
        }
        h1{
          border: 2px solid #fff;
          padding: 0px 15px 4px;
          font-size: 50px;
        }
      }
      .p-1{
        color: #fff;
        display: grid;
        grid-template-columns: repeat(3,33.33%);
        grid-template-rows: 50px 1fr 2fr;
        justify-content:end;
        .position{
          text-align: center;
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 3;
        }
        
        h1{
          // text-align: center;
        }
        h5{
          font-weight: normal;
          letter-spacing:4px;
          text-align: center;
        }
        h6{

        }
        @media screen and (max-width: 500px) {
            .position{
                  text-align: center;
                  grid-column-start: 1;
                  font-size: 14px;
                }
        }
      }
      
      .p-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 400px;
        min-height: 250px;
        background-color: #000000aa;
        border-radius: 10px;
        padding: 30px 50px !important;
        img{
          width: 200px;
          border-radius: 8px;
          overflow: hidden;
          margin: 10px;
        }
      }
      .p-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        p{
          margin: 0;
        }
      }
      .p-4{
        text-align: center;
        padding: 30px;
      }
      .p-5{
        color: #fff;
        writing-mode:tb-rl
        // background-color: #00000088;
      }
      .p-6{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        text-align: center;
        padding-top: 50px;
        max-height: 100vw;
        .card-box{
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          .card-cell{
            flex-shrink: 0;
            flex-grow: 0;
            img{
              width: 300px;
              max-width: 25vw;
              border-radius: 6px;
              overflow: hidden;
              margin-bottom: 10px;
              // filter: ;
            }
          }
        }
        
        // height: 150vh;
      }
      .p-7{
        display: grid;
        grid-template-columns: repeat(3,33.33%);
        grid-template-rows: repeat(3,20%);
        text-align: center;
        .foot{
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 3;
        }
        .hide{
          color: #111;
          &:hover{
            color: #fff;
          }
        }
      }
      .p-8{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110vh;
        text-align: center;
        background-color: #000;
        color: #333;
        overflow: hidden;
        max-height: 100vw;
        $rotate:10deg;
        $deviation: 5vw;
        .l,.r{
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60vw;
          height: 100vw;
          flex-shrink: 0;
          color: #fff;
          transition: width 0.5s, opacity 0.5s;
          background-size: cover;
          background-position:center;
          &:hover{
            width: 70vw;
            .info{
              // margin-top: -20vw;
              h3{
                font-size: 50px;
              }
              .title{
                p{
                  font-size: 30px;
                }
              }
              
              .extra{
                transform: scale(1,1);
              }
            }
          }
          .info{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25vw;
            height: 25vw;
            border-radius: 8px;
            transition: margin 1s;
            h3,p{
              transition: font-size 0.5s;
              margin: 0;
            }
            .extra{
              transform: scale(0,0);
              transition: transform 0.5s;
            }
          }
        }
        .l{
          .info{
            transform: skewX($rotate) translateX($deviation);
          }
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(47, 112, 177);
          transform: skewX(-$rotate);
          border-top: 0;
        }
        .r{
          .info{
            transform: skewX($rotate) translateX(-$deviation);
          }
          transform: skewX(-$rotate);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(185, 93, 40);
        }
      }
      .p-9{
        text-align: center;
        color: #fff;
        height: 140vh;
        padding: 10vh 0;
      }
    }
    
    
    .flex-box{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .f-box{
      width: 100px;
      height: 60px;
      background-color: #fff;
      margin:0;
      z-index: 19;
    }
    .content-full {
      height: 100%;
    }

    #done {
      height: 100%;
    }
    .card-position {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .card-position {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
