
.index-info{
  position: fixed;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.menu-position{
  position: fixed;
  left: 50%;
  top: 30px;
  transform: translateX(-50%) translateY(-50%);
}
.menu-box{
  display: flex;
  justify-content: center;
  align-items: center;
  .cell{
    padding: 10px 10px;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
  }
  .delay1{
    animation-delay: 0.1s;
  }
  .delay2{
    animation-delay: 0.2s;
  }
  .delay3{
    animation-delay: 0.3s;
  }
  .delay4{
    animation-delay: 0.4s;
  }

}

@media (max-width: 768px) {
    .menu-box {
      .cell {
        padding: 10px 0px;
        margin: 0 10px;
        font-size: 10px;
        width: auto;
      }
    }
  }