
.index-info{
  position: fixed;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.menu-position{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  // left: 0;
  // top: 0;
  transform: translateX(-50%) translateY(-50%);
  width: 50vw;
  height: 50vh;
}
.menu-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .cell-position{
    // width: 250px;
    // height: 300px;
    // box-sizing: border-box;
  }
  // .p1{
  //   padding: 20px 0px 0px 0px;
  // }
  // .p2{
  //   padding: 0px 20px 0px 0px;
  // }
  // .p3{
  //   padding: 0px 0px 20px 0px;
  // }
  // .p4{
  //   padding: 0px 0px 0px 20px;
  // }
  .cell{
    position: relative;
    padding: 15px 10px;
    margin: 30px 10px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background-color: #00000055;
    border-radius: 8px;
    width: 140px;
    text-align: center;
  }
  .delay1{
    animation-delay: 0s;
  }
  .delay2{
    animation-delay: 0.1s;
  }
  .delay3{
    animation-delay: 0.2s;
  }
  .delay4{
    animation-delay: 0.3s;
  }

}

// @media (max-width: 768px) {
//     .menu-box {
//       .cell {
//         padding: 10px 0px;
//         margin: 0 10px;
//         font-size: 10px;
//         // width: auto;
//       }
//     }
//   }